[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = suggestion
[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = suggestion

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = suggestion
